<!DOCTYPE html>
<html>
<head>
    <title>空教室查询——先声网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="max-age=3600">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="/queryEmptyClassrooms/static/img/herald-icon-small.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/queryEmptyClassrooms/static/img/herald-icon-large.png">
    <link rel="apple-touch-startup-image" href="/queryEmptyClassrooms/static/img/startup-640x920.png">
    <!-- iPhone -->
    <link rel="apple-touch-startup-image" sizes="320x460" href="/queryEmptyClassrooms/static/img/startup-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
    <!-- iPhone (retina) -->
    <link rel="apple-touch-startup-image" sizes="640x920" href="/queryEmptyClassrooms/static/img/startup-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
    <!-- iPhone 5+ -->
    <link rel="apple-touch-startup-image" sizes="640x1136" href="/queryEmptyClassrooms/static/img/startup-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPad (landscape) -->
    <link rel="apple-touch-startup-image" sizes="1024x748" href="/queryEmptyClassrooms/static/img/startup-1024x748.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
    <!-- iPad (portrait) -->
    <link rel="apple-touch-startup-image" sizes="768x1004" href="/queryEmptyClassrooms/static/img/startup-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">

    <link rel="stylesheet" href="/queryEmptyClassrooms/static/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="/queryEmptyClassrooms/static/jquery.js"></script>
    <script src="/queryEmptyClassrooms/static/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script type="text/javascript" src="/queryEmptyClassrooms/static/js/index.js"></script>
</head>
<body>
    <div data-role="page" id="searchPage">
        <div data-role="header">
            <h1>空教室查询</h1>
        </div><!-- /header -->

        <div data-role="tabs" id="tabs">
            <div data-role="navbar">
                <ul>
                    <li><a href="#quick" data-ajax="false" class="ui-btn-active">快捷搜索</a></li>
                    <li><a href="#advanced" data-ajax="false">高级搜索</a></li>
                </ul>
            </div>

            <!-- quick search -->
            <div id="quick" class="ui-body ui-content">
                <form>
                    <label for="q-start-n">from</label>
                    <input type="text" name="q-start-n" id="q-start" value="" data-mini="true" placeholder="第几节开始">
                    <label for="q-end-n">to</label>
                    <input type="text" name="q-end-n" id="q-end" value=""  data-mini="true" placeholder="第几节结束">
                    
                    <select name="campus" id="q-campus" data-mini="true">
                        <option value="jlh">九龙湖</option>
                        <option value="djq">丁家桥</option>
                        <option value="spl">四牌楼</option>
                    </select>

                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <a href="javascript:queryToday()" class="ui-shadow ui-btn ui-corner-all ui-mini">
                                查询今天
                            </a>
                        </div>
                        <div class="ui-block-b">
                            <a href="javascript:queryTomorrow()" class="ui-shadow ui-btn ui-corner-all ui-mini">
                                查询明天
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- advanced search -->
            <div id="advanced" class="ui-body ui-content">
                <form>
                    <input type="text" name="week-num" id="week-num" data-mini="true" placeholder="第几周">
                    <input type="text" name="week-day" id="week-day" data-mini="true" placeholder="周几"> 
                    
                    <label for="a-start">from</label>
                    <input type="text" name="a-start-n" id="a-start" value="" data-mini="true" placeholder="第几节开始">
                    <label for="a-end">to</label>
                    <input type="text" name="a-end-n" id="a-end" value=""  data-mini="true" placeholder="第几节结束">
            
                    <select name="campus" id="a-campus" data-mini="true">
                        <option value="jlh">九龙湖</option>
                        <option value="djq">丁家桥</option>
                        <option value="spl">四牌楼</option>
                    </select>

                    <a href="javascript:advancedQuery()" class="ui-shadow ui-btn ui-corner-all ui-mini">查询</a>
                </form>
            </div>
        </div>

        <!-- 提示组件 -->
        <div style="display:none">
            <a id="hintLnk" href="#hint" data-role="button" data-inline="true" data-rel="popup" data-position-to="window"></a>
            <div data-role="popup" id="hint" class="ui-content" data-theme="c">
                <p id="hintInfo"></p>
            </div>
        </div>
    </div>

    <!-- result page -->
    <div data-role="page" id="resultPage">
        <div data-role="header">
            <a href="#searchPage" data-icon="back">Back</a>
            <h1>查询结果</h1>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <ul data-role="listview" data-filter="true" data-filter-placeholder="从结果中搜索教室" data-insert="true" id="resultList">
                
            </ul>
        </div><!-- /content -->

    </div>
</body>
</html>